NOTION_TOKEN=
NOTION_11_DATABASE_ID=
NOTION_REPORTS_DATABASE_ID=
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=
READAI_WEBHOOK_SECRET=
READAI_SKIP_SIGNATURE_VERIFICATION=false
TEAM_MAPPING={"Дмитрий Такмаков":"notion_page_id","Максим Рылов":"notion_page_id","Алина Крючкова":"notion_page_id"}
